<!-- PAGE : ABOUT -->
<section id="about" class="page">
  <div class="content">
      <!-- row -->
      <div class="row">
        <!-- column 8/12 -->
        <div class="col-md-8">
            <h2 class="section-title"><span><i class="icon-guest"></i>先生不知何許人</span></h2>
            <!-- intro -->
            <div class="intro">
                <h2>
                    毫無反應，就只是個
                    <span class="rotate-words">
                        <span>工程師</span>
                        <span>職業學生</span>
                        <span>自由工作者</span>
                        <span>鋼琴人</span>
                        <span>蘿莉控</span>
                    </span>
                    <br>
                    喜歡 <strong>Ruby、Java、C</strong>，愛好寫程式，以此為樂，並以此維生。
                    <br>
                    對凡人沒興趣，所以如果你是外星人、未來人、機器人或者怪胎，歡迎找我做朋友。
                </h2>
            </div>
            <!-- intro -->
        </div>
        <!-- column 8/12 -->
        <!-- column 4/12 -->
        <div class="col-md-4">
          <h2 class="section-title"><span><i class="icon-twitter"></i>近況</span></h2>
          <div id="latest-tweets" class="widget-twitter" data-twitterId="547449185276919810" data-tweet-count="2"></div>
      </div>
      <!-- column 4/12 -->
  </div>
  <!-- row -->
  <h2 class="section-title"><span><i class="fa fa-magic"></i>吃飯技能</span></h2>
  <!-- SERVICES -->
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color1">
            <i class="fa fa-html5"></i>
            <h4>Web Design</h4>
            <p>I design super cool websites. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color2">
            <i class="fa fa-font"></i>
            <h4>Type Design</h4>
            <p>I can design beautiful type faces for both digital and print media. It is a long established fact that a reader will be distracted. </p>
        </div>
        <!-- service -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color3">
            <i class="icon-smashmag"></i>
            <h4>Blog Writer</h4>
            <p>I write about web design. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color4">
            <i class="fa fa-rocket"></i>
            <h4>Project Management</h4>
            <p>I have strong project management skills. It is a long established fact that a reader will be distracted by the readable content. </p>
        </div>
        <!-- service -->
    </div>
</div>
<!-- SERVICES -->
<h2 class="section-title"><span><i class="icon-layers-alt"></i>WORK PROCESS</span></h2>
<!-- PROCESS -->
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="icon-lamp"></i>
                <h4>IDEA</h4>
            </div>
        </div>
        <!-- process -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="fa fa-puzzle-piece"></i>
                <h4>CONCEPT</h4>
            </div>
        </div>
        <!-- process -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="icon-brush"></i>
                <h4>DESIGN</h4>
            </div>
        </div>
        <!-- process -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="fa fa-code"></i>
                <h4>DEVELOP</h4>
            </div>
        </div>
        <!-- process -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="fa fa-bug"></i>
                <h4>TEST</h4>
            </div>
        </div>
        <!-- process -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- process -->
        <div class="process">
            <div class="process-box">
                <i class="fa fa-rocket"></i>
                <h4>LAUNCH</h4>
            </div>
        </div>
        <!-- process -->
    </div>
</div>
<!-- PROCESS -->
<h2 class="section-title"><span>FUN FACT</span></h2>
<!-- FUN FACT -->
<div class="row">
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-instagram-1"></i>
            <h4>24000 SHOTS CAPTURED</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-jabber"></i>
            <h4>37 PROJECTS COMPLETED</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-child"></i>
            <h4>87 SATISFIED CUSTOMERS</h4>
        </div>
        <!-- fun-fact -->
    </div>
    <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
            <i class="icon-bicycle"></i>
            <h4>1450 KM CYCLED</h4>
        </div>
        <!-- fun-fact -->
    </div>
</div>
<!-- FUN FACT -->
<h2 class="section-title"><span>CLEINTS</span></h2>
<!-- CLIENTS -->
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-01.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-02.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-03.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-04.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-05.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
            <a href="#">
                <img src="images/clients/client-06.png" alt="client">
            </a>
        </div>
        <!-- client -->
    </div>
</div>
<!-- CLIENTS -->
</div>
</section>
<!-- PAGE : ABOUT -->