<!-- PAGE : BLOG -->
<section id="blog" class="page">
  <div class="content">
    <h2 class="section-title center"><span><i class="icon-book-open"></i>近期文章</span></h2>
    <!-- LATEST POSTS -->
    <div class="latest-posts media-grid" data-layout="fitRows">
      {% for post in site.posts limit:6 %}
      <!-- post -->
      <article class="hentry media-cell">
        <div class="media-box">
          <img src="images/blog/blog-01.png" alt="post-image">
          <div class="mask"></div>
          <a href="{{ post.url }}"></a>
        </div>
        <header class="media-cell-desc">
          <span title="{{ post.date | date: "%Y" }}" class="date"><span class="day">{{ post.date | date: "%d" }}</span>{{ post.date | date: "%b"}}</span>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </header>
      </article>
      <!-- post -->
      {% endfor %}
    </div>
    <!-- LATEST POSTS -->
    <p class="launch"><a class="button primary" href="/blog">更多</a></p>
  </div>
</section>
<!-- PAGE : BLOG -->