<!-- PAGE : CONTACT -->
<section id="contact" class="page">
  <div class="content">
    <!-- row -->
    <div class="row">
      <!-- column 6/12 -->
      <div class="col-md-6">
        <h2 class="section-title"><span><i class="icon-address-book"></i>聯絡資料</span></h2>
        <!-- LETTER -->
        <div class="letter">
          <h4 class="letter-title">簡煒航 Jian Weihang</h4>
          <div class="stamp">
            <img src="/images/site/stamp-image.png" alt="stamp">
          </div>
          <div class="letter-info">
            <p><i class="icon-at"></i><a href="mailto:tonytonyjan@gmail.com"></a>tonytonyjan@gmail.com</p>
            <p><i class="icon-phone"></i>0911-990-563</p>
            <p><i class="icon-location"></i>樹林區</p>
          </div>
        </div>    
        <!-- LETTER -->
        <h2 class="section-title"><span><i class="icon-chat"></i>社交帳號</span></h2>
        <!-- SOCIAL -->
        <ul class="social">
          <li><a class="facebook" href="https://facebook.com/tonytonyjan"></a></li>
          <li><a class="github" href="https://github.com/tonytonyjan"></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/tonytonyjan"></a></li>
          <li><a class="plurk icon-plurk" href="http://www.plurk.com/tonytonyjan"></a></li>
          <li><a class="twitter" href="https://twitter.com/tonytonyjan"></a></li>
          <li><a class="google-plus" href="https://plus.google.com/+%E7%B0%A1%E7%85%92%E8%88%AATJ/posts"></a></li>
          <li><a class="youtube" href="https://www.youtube.com/user/tonytonyjan"></a></li>
        </ul>
        <!-- SOCIAL -->
      </div>
      <!-- column 6/12 -->
      <!-- column 6/12 -->
      <div class="col-md-6">
        <h2 class="section-title"><span><i class="icon-location"></i>岡前<strong>樹林</strong>內茅廬中，即<strong>大兜</strong>先生高臥之地 - 三國演義</span></h2>
        <!-- GOOGLE MAP -->
        <div class="map">
          <div data-latitude="24.9857261" data-longitude="121.4306493" data-zoom="15" id="map-canvas" class="map-canvas"></div>
        </div>
        <!-- GOOGLE MAP -->
      </div>
      <!-- column 6/12 --><!-- column 6/12 -->
    </div>            
    <!-- row -->      
  </div>
</section>
<!-- PAGE : CONTACT -->