<!-- PAGE : CONTACT -->
<section id="contact" class="page">
  <div class="content">
    <h2 class="center"><a href="mailto:tonytonyjan@gmail.com">tonytonyjan@gmail.com</a></h2>
    <!-- SOCIAL -->
    <ul class="social center">
      <li><a class="facebook" href="https://facebook.com/tonytonyjan"></a></li>
      <li><a class="github" href="https://github.com/tonytonyjan"></a></li>
      <li><a class="plurk icon-plurk" href="http://www.plurk.com/tonytonyjan"></a></li>
      <li><a class="twitter" href="https://twitter.com/tonytonyjan"></a></li>
      <li><a class="youtube" href="https://www.youtube.com/user/tonytonyjan"></a></li>
    </ul>
    <!-- SOCIAL -->
  </div>
</section>
<!-- PAGE : CONTACT -->