<!-- HEADER -->
<header class="header">
  <img src="/images/site/avatar.png" alt="avatar">
  <h1>大兜</h1>
  <p>流浪的工程師</p>
  <!-- NAV MENU -->
  <ul class="vs-nav">
    <!-- TemplateBeginEditable name="Menu-Content" -->
    <% if content_for? :nav %>
    <%= yield_content :nav %>
    <% else %>
    <li><a href="javascript:history.back()"><i title="上一頁" class="icon-left-open tooltip" data-tooltip-pos="left"></i></a></li>
    <li><a href="/"><i title="回首頁" class="icon-home-1 tooltip" data-tooltip-pos="right"></i></a></li>
    <% end %>
    <!-- TemplateEndEditable -->
  </ul>
  <!-- NAV MENU -->

  <!-- SEARCH --> 
  <div class="header-search">
    <form role="search" method="get" id="search-form" action="#">
      <input type="text" value="" name="s" id="search" placeholder="ENTER KEYWORD">
      <input type="submit" id="search-submit" title="Search" value="→">
    </form>
  </div>
  <!-- SEARCH -->
</header>
<!-- HEADER -->