<!-- HEADER -->
<header class="header">
  <img src="/images/site/avatar.png" alt="avatar">
  <h1><%= I18n.t 'header.name' %></h1>
  <p><%= I18n.t 'header.tagline' %></p>
  <!-- NAV MENU -->
  <ul class="vs-nav">
    <!-- TemplateBeginEditable name="Menu-Content" -->
    <% if content_for? :nav %>
    <%= yield_content :nav %>
    <% else %>
    <li><a href="javascript:history.back()"><i title="上一頁" class="icon-left-open tooltip" data-tooltip-pos="left"></i></a></li>
    <li><a href="/"><i title="回首頁" class="icon-home-1 tooltip" data-tooltip-pos="right"></i></a></li>
    <% end %>
    <!-- TemplateEndEditable -->
  </ul>
  <!-- NAV MENU -->

  <!-- SEARCH -->
  <div class="header-search">
    <form role="search" method="get" id="search-form" action="https://www.google.com.tw/search" onsubmit="this['q'].value = this['q_raw'].value + ' site:<%= config[:site_url] %>';">
      <input type="hidden" name="q" value="">
      <input type="text" value="" name="q_raw" id="search" placeholder="輸入關鍵字">
      <input type="submit" id="search-submit" title="Search" value="→">
    </form>
  </div>
  <!-- SEARCH -->
</header>
<!-- HEADER -->
