<h2 class="section-title"><span><i class="icon-plurk"></i><%= I18n.t 'about.latest_news' %></span></h2>
<!-- <div id="latest-tweets" class="widget-twitter" data-twitterId="547449185276919810" data-tweet-count="2"></div> -->
<iframe src="//www.plurk.com/getWidget?uid=5874158&amp;u_info=2&amp;bg=FFFFFF&amp;tl=FFFFFF&amp;h=250&amp;use_cache=0" width="100%" height="250"></iframe>