<!-- PAGE : PORTFOLIO -->
<section id="portfolio" class="portfolio page">
  <div class="content">


    <h2 class="section-title center"><span><i class="icon-leaf"></i>MY WORKS</span></h2>

    <!--FILTERS-->
    <ul id="filters" class="filters">
      <li class="current"><a href="#" data-filter="*">ALL</a></li>
      <li><a href="#" data-filter=".design">DESIGN</a></li>
      <li><a href="#" data-filter=".coding">CODING</a></li>
      <li><a href="#" data-filter=".logo">LOGO</a></li>
    </ul>
    <!--FILTERS-->



    <!-- PORTFOLIO -->
    <div class="portfolio-items media-grid" data-layout="masonry">



      <!-- portfolio-item -->  
      <div class="media-cell design hentry">

        <div class="media-box">
          <img src="images/portfolio/01.png" alt="portfolio-post">
          <div class="mask"></div>
          <a href="portfolio-item-01.html" class="ajax"></a>
        </div>

        <div class="media-cell-desc">
          <h3>Personal Cv Project</h3>
          <p class="category">an illustration work</p>
        </div>

      </div>
      <!-- portfolio-item --> 


      <!-- portfolio-item -->  
      <div class="media-cell coding hentry">

        <div class="media-box">
          <img src="images/portfolio/02.png" alt="portfolio-post">
          <div class="mask"></div>
          <a href="portfolio-item-02.html" class="ajax"></a>
        </div>

        <div class="media-cell-desc">
          <h3>On The Desert</h3>
          <p class="category">an illustration work</p>
        </div>

      </div>
      <!-- portfolio-item --> 


      <!-- portfolio-item - lightbox video -->  
      <div class="media-cell coding video hentry">

        <div class="media-box">
          <img src="images/portfolio/03.png" alt="portfolio-post">
          <div class="mask"></div>
          <!-- lightbox - video --> 
          <a href="http://player.vimeo.com/video/79380715?title=0&amp;byline=0&amp;portrait=0&amp;color=009966" title="Paper by FiftyThree" data-lightbox-gallery="fancybox-item-03" class="lightbox iframe"></a>
          <!-- lightbox - video -->
        </div>

        <div class="media-cell-desc">
          <h3>Sleepy Games</h3>
          <p class="category">lightbox video</p>
        </div>

      </div>
      <!-- portfolio-item - lightbox video -->


      <!-- portfolio-item - lightbox image -->  
      <div class="media-cell design image hentry">
        <div class="media-box">
          <img src="images/portfolio/04.png" alt="portfolio-post">
          <div class="mask">

            <!-- lightbox - image --> 
            <a href="images/portfolio/lightbox-01.jpg" title="an illustration by Vasili Tkach" data-lightbox-gallery="fancybox-item-01" class="lightbox"></a>
            <!-- lightbox - image -->

          </div>
        </div>
        <div class="media-cell-desc">
          <h3>World War X</h3>
          <p class="category">ligthbox image</p>
        </div>
      </div>
      <!-- portfolio-item - lightbox image -->


      <!-- portfolio-item - lightbox soundcloud -->  
      <div class="media-cell coding audio hentry">
        <div class="media-box">
          <img src="images/portfolio/06.png" alt="portfolio-post">
          <div class="mask">

            <!-- lightbox - soundcloud --> 
            <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129829419&amp;color=009966&amp;auto_play=false&amp;show_artwork=true" title="Soundcloud embed" data-lightbox-gallery="fancybox-item-04" class="lightbox iframe"></a>
            <!-- lightbox - soundcloud -->

          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Empty Battery</h3>
          <p class="category">lightbox soundcloud</p>
        </div>
      </div>
      <!-- portfolio-item - lightbox soundcloud -->


      <!-- portfolio-item - lightbox gallery -->
      <div class="media-cell logo image hentry">
        <div class="media-box">
          <img src="images/portfolio/07.png" alt="portfolio-post">
          <div class="mask">

            <!-- lightbox - gallery -->
            <a href="images/portfolio/lightbox-02.jpg" data-lightbox-gallery="fancybox-item-02" class="lightbox" title="Octopus is dangerous!"></a>
            <a href="images/portfolio/lightbox-03.jpg" data-lightbox-gallery="fancybox-item-02" class="hidden lightbox"></a>
            <a href="images/portfolio/lightbox-04.jpg" data-lightbox-gallery="fancybox-item-02" class="hidden lightbox" title="Dog have dreams"></a>
            <!-- lightbox - gallery -->

          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Wizard Adventure</h3>
          <p class="category">lightbox gallery</p>
        </div>
      </div>
      <!-- portfolio-item - lightbox gallery -->


      <!-- portfolio-item - custom url -->  
      <div class="media-cell logo url hentry">
        <div class="media-box">
          <img src="images/portfolio/08.png" alt="portfolio-post">
          <div class="mask">
            <a href="http://themeforest.net/user/pixelwars" target="_blank"></a>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Shinny Robot</h3>
          <p class="category">an illustration work</p>
        </div>
      </div>
      <!-- portfolio-item - custom url -->


      <!-- portfolio-item -->  
      <div class="media-cell coding hentry">
        <div class="media-box">
          <img src="images/portfolio/16.png" alt="portfolio-post">
          <div class="mask">
            <a href="portfolio-item-03.html" class="ajax"></a>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Virus Protection</h3>
          <p class="category">an illustration work</p>
        </div>
      </div>
      <!-- portfolio-item --> 


      <!-- portfolio-item -->  
      <div class="media-cell design hentry">
        <div class="media-box">
          <img src="images/portfolio/14.png" alt="portfolio-post">
          <div class="mask">
            <a href="portfolio-item-01.html" class="ajax"></a>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Red Diamond</h3>
          <p class="category">an illustration work</p>
        </div>
      </div>
      <!-- portfolio-item --> 


      <!-- portfolio-item -->  
      <div class="media-cell design hentry">
        <div class="media-box">
          <img src="images/portfolio/15.png" alt="portfolio-post">
          <div class="mask">
            <a href="portfolio-item-02.html" class="ajax"></a>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Sky is The Limit</h3>
          <p class="category">an illustration work</p>
        </div>
      </div>
      <!-- portfolio-item --> 


      <!-- portfolio-item -->  
      <div class="media-cell logo hentry x2">
        <div class="media-box">
          <img src="images/portfolio/11.jpg" alt="portfolio-post">
          <div class="mask">
            <a href="portfolio-item-03.html" class="ajax"></a>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3>Behind The Eyes</h3>
          <p class="category">an illustration work</p>
        </div>
      </div>
      <!-- portfolio-item --> 



    </div>
    <!-- PORTFOLIO -->






  </div>
  <!-- CONTENT -->

</section>
<!-- PAGE : PORTFOLIO -->