<h2 class="section-title"><span><i class="icon-book-1"></i><%= I18n.t 'about.my_book' %></span></h2>
<a href="/rails-road"><img src="/images/thumbs/rails_road.jpg" alt="Ruby on Rails 自習手冊：邁向鐵道工人之路"></a>