<h2 class="section-title"><span><i class="icon-comment"></i>TESTIMONIALS</span></h2>
<!-- testo-group -->
<div class="testo-group">
  <!-- Testimonial -->
  <div class="testo">
    <img src="images/site/testo-01.jpg" alt="someone">
    <h4>Phillip Austin <span>CEO / Gravity Inc.</span></h4>
    <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much. Also he is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.</p>
  </div>
  <!-- Testimonial -->
  <!-- Testimonial -->
  <div class="testo">
    <img src="images/site/testo-02.jpg" alt="someone">
    <h4>Gary Morgan <span>Chemist / Freelancer</span></h4>
    <p>He was a great co-worker and a friend. I would't be where i am without his support.</p>
  </div>
  <!-- Testimonial -->
  <!-- Testimonial -->
  <div class="testo">
    <img src="images/site/testo-03.jpg" alt="someone">
    <h4>Jason Wilson <span>Lab Geek / Miami Metro</span></h4>
    <p>He is ok.</p>
  </div>
  <!-- Testimonial -->
</div>
<!-- testo-group -->