<!-- col 6/12 -->
<div class="col-md-6">
    <!-- timeline -->
    <div class="timeline">
        <h2><i class="fa fa-flask"></i>WORK HISTORY</h2>
        <div class="event current">
            <span class="date">2012</span>
            <h4>Front End Web Developer</h4>
            <h5>Pixelwars Inc.</h5>
            <p>I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
        <div class="event">
            <span class="date">2010</span>
            <h4>Web Developer</h4>
            <h5>Google Inc.</h5>
            <p>I worked as a Web Developer at Google for 3 years. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
        <div class="event">
            <span class="date">2006</span>
            <h4>Exclusive Author</h4>
            <h5>Envato Inc.</h5>
            <p>I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
    </div>
    <!-- timeline -->
    <!-- timeline -->
    <div class="timeline">
        <h2><i class="icon-college"></i>EDUCATION HISTORY</h2>
        <div class="event">
            <span class="date">2002</span>
            <h4>Atom Science</h4>
            <h5>Stanford University</h5>
            <p>I studied atomic stuff at Stanford University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
        <div class="event">
            <span class="date">2010</span>
            <h4>Software Engineering</h4>
            <h5>Harvard University</h5>
            <p>I got my Master Degree at Harvard University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
        <div class="event">
            <span class="date">2006</span>
            <h4>Computer Science</h4>
            <h5>MIT</h5>
            <p>I studied Computer Science at MIT. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        </div>
    </div>
    <!-- timeline -->
</div> 
<!-- col 6/12 -->