<!-- .portfolio-single -->
<div class="portfolio-single">
    <!-- .row -->
    <div class="row">
        <!-- TITLE - column 8/12 -->
        <div class="col-md-8 portfolio-field portfolio-title">
            <h2><%= work[:title] %></h2>
        </div>
        <!-- TITLE - column 8/12 -->
        <!-- PORTFOLIO-NAV - column 4/12 -->
        <div class="col-md-4 portfolio-field portfolio-nav">
            <a class="icon button prev ajax" href="portfolio-item-03.html"></a>
            <a class="icon button next ajax" href="portfolio-item-02.html"></a>
            <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV - column 4/12 -->    
    </div>
    <!-- .row -->
    <!-- .row -->
    <div class="row">
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        <div class="col-md-8 portfolio-field">
            <img src="images/portfolio/single/single-05.png" alt="project">
            <img src="images/portfolio/single/single-07.png" alt="project">
        </div>
        <!-- PORTFOLIO-IMAGES - column 8/12 -->
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->
        <div class="col-md-4 portfolio-field">
            <h3>Description</h3>
            <%= work[:description] %>
            <h3>Client</h3>
            <p>Apple Inc.</p>
            <h3>Technology</h3>
            <ul class="tags">
                <li><a>HTML 5</a></li>
                <li><a>CSS 3</a></li>
                <li><a>jQuery</a></li>
                <li><a>Responsive Design</a></li>
            </ul>
            <div class="launch">
                <a href="#" class="button primary">LAUNCH PROJECT</a>
            </div>
        </div>
        <!-- PORTFOLIO SIDEBAR - column 4/12 -->    
    </div>
    <!-- .row -->
    <!-- .row -->
    <div class="row">
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->
        <div class="col-md-12 portfolio-field portfolio-nav bottom">
            <a class="icon button prev ajax" href="portfolio-item-03.html"></a>
            <a class="icon button next ajax" href="portfolio-item-02.html"></a>
            <a class="button back" href="#/portfolio"></a>
        </div>
        <!-- PORTFOLIO-NAV BOTTOM - column 12/12 -->    
    </div>
    <!-- .row -->
</div>
<!-- .portfolio-single -->